<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Bus.PeerId" value="WRITE_YOUR_SERVICE_NAME_HERE" />   <!-- example: MyCompany.MyService  -->
        <add key="Bus.Environment" value="WRITE_YOUR_ENVIRONMENT_HERE" />  <!-- example: Dev or Staging or Prod  -->
        <add key="Bus.Directory.EndPoints" value="WRITE_YOUR_DIRECTORY_ADDRESS_HERE" /> <!-- example: tcp://YourMachineName:129 -->
        
        <add key="Bus.Directory.RegistrationTimeout" value="00:01:00" />
        <add key="Bus.Persistence.StartReplayTimeout" value="00:01:00" />
        <add key="Bus.IsPersistent" value="false" />
        <add key="Bus.Directory.PickRandom" value="true" />
        <add key="Bus.IsErrorPublicationEnabled" value="false" />
        <add key="Bus.MessagesBatchSize" value="100" />

        <add key="Bus.InboundEndPoint" value="tcp://*:*" />
        <add key="Bus.WaitForEndOfStreamAckTimeout" value="00:00:05" />
    </appSettings>
</configuration>